<table class="table table-striped">
  <thead>
  </thead>

  <tbody>
    <% @domains.group_by(&:group).each do |group, domains| %>
      <tr>
        <th colspan="2"><%= link_to group.name, group_path(group) %></th>
        <th colspan="2">Controls</th>
      </tr>
      <% domains.each do |domain| %>
        <tr>
          <td><%= link_to domain.name, domain %></td>
          <td>
            <% if domain.reverse? %>
              <%= abbr_glyph('chevron-left', 'Reverse') %>
            <% else %>
              <%= abbr_glyph('chevron-right', 'Forward') %>
            <% end %>
            <% if domain.slave? %>
              <%= abbr_glyph('link', 'Slave') %>
            <% end %>
          </td>
          <td><%= link_to_edit edit_domain_path(domain) %></td>
          <td><%= link_to_destroy domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Add Domain', new_domain_path, class: 'btn btn-primary' %>
</p>
