<% if current_user.memberships.empty? %>
  <div class="jumbotron">
    <h2>Wellcome to WebDNS!</h2>
    <p>
      In order to manage domains you have to be a member of a group.
    </p>
    <p>
      You can either contact an admin to create a new group for you, or ask another user for an invite to an existing group.
    </p>
  </div>
<% end %>

<div class="datatable-wrapper">
  <table id="domains" class="table table-striped">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Serial</th>
        <th>Group</th>
        <th>State</th>
        <th>Slave</th>
        <th>DNSSEC</th>
        <th class="no-order-and-search">Controls</th>
      </tr>
    </thead>

    <tbody>
      <% @domains.group_by(&:group).each do |group, domains| %>
        <% domains.each do |domain| %>
          <tr class="group-<%= group.id =%>">
            <td><%= link_to domain.name, domain %></td>
            <td><%= domain.serial %></td>
            <td><%= link_to group.name, group_path(group) %></td>
            <td><%= human_state(domain.state) %></td>
            <td><%= domain.slave? ? domain.master : '-' %></td>
            <td><%= domain.dnssec? ? 'secure' : '-' %></td>
            <td>
              <%= link_to_edit edit_domain_path(domain) %>
              <%= link_to_destroy domain, method: :delete, data: { confirm: 'Are you sure?' } if domain.can_remove? %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  <% if current_user.memberships.any? %>
    <%= link_to 'Add Domain', new_domain_path, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'Add Domain', new_domain_path, class: 'btn btn-primary disabled' %>
  <% end %>
</p>
