<table class="table table-striped">
  <thead>
  </thead>

  <tbody>
    <% @domains.group_by(&:group).each do |group, domains| %>
      <tr>
        <th colspan="2"><%= link_to group.name, group_path(group) %></th>
        <th colspan="2">Controls</th>
      </tr>
      <% domains.each do |domain| %>
        <tr>
          <td><%= link_to domain.name, domain %></td>
          <td>
            <% if domain.reverse? %>
              <abbr title="Reverse"><span class="glyphicon glyphicon-chevron-left"></span></abbr>
            <% else %>
              <abbr title="Forward"><span class="glyphicon glyphicon-chevron-right"></span></abbr>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
          <td><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Domain &raquo;'.html_safe, new_domain_path, class: 'btn btn-lg btn-primary' %>
</p>
