<script>
 $(function() {
     window.bulky = new Bulky(
         '<%= valid_domain_records_path(@domain) %>',
         '<%= bulk_domain_records_path(@domain) %>'
     );
 });
</script>

<% content_for :more_breadcrumbs do %>
  <% if !@domain.slave? %>
    <li>
      <%= link_to_edit edit_domain_path(@domain) %>
    </li>
    <li>
      <%= link_to 'Bulk mode', '#bulk', id: 'js-bulky-activate' %>
    </li>
  <% end %>
<% end %>

<%= render 'bulk_panel' %>
<%= render 'records/inline_form' %>
<%= render 'bulk_new_records' %>

<table id="records" class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th colspan="6">Records</th>
      <th colspan="3"><%= 'Controls' if !@domain.slave? %></th>
    </tr>
  </thead>

  <tbody>
    <% Record.smart_order(@domain.records).each do |record| %>
      <tr id="record-<%= record.id %>" data-id="<%= record.id %>" class="<%= record.type.downcase %> <%= record.disabled? ? 'warning' : '' %>">
        <td><%= editable_record_attr(record, :name) %></td>
        <td><%= record.ttl %></td>
        <td>IN</td>
        <td><%= record.type %></td>
        <% if record.supports_prio? %>
          <td><%= editable_record_attr(record, :prio) %></td>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
        <td class="record_value"><%= editable_record_attr(record, :content) %></td>
        <% if record.classless_delegation? %>
          <td/>
          <td/>
          <td><%= link_to_destroy [@domain, record], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% elsif can_edit?(record) %>
          <td>
            <% if record.disabled? %>
              <%= link_to_enable enable_domain_record_path(@domain, record), method: :put, class: 'js-bulk-hide' %>
            <% else %>
              <%= link_to_disable disable_domain_record_path(@domain, record), method: :put, class: 'js-bulk-hide' %>
            <% end %>
          </td>
          <td><%= link_to_edit edit_domain_record_path(@domain, record), class: 'js-bulk-hide' %></td>
          <td><%= link_to_destroy [@domain, record], method: :delete, data: { confirm: 'Are you sure?', id: record.id }, class: 'js-destroy' %></td>
        <% else %>
          <td/>
          <td/>
          <td/>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
