<% content_for :more_breadcrumbs do %>
  <li>
    <%= link_to_edit edit_domain_path(@domain) %>
  </li>
<% end if admin? %>

<%= render 'records/inline_form' %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th colspan="6">Records</th>
      <th colspan="3"><%= 'Controls' if !@domain.slave? %></th>
    </tr>
  </thead>

  <tbody>
    <% Record.smart_order(@domain.records).each do |record| %>
    <tr class="<%= record.disabled? ? 'warning' : '' %>">
      <td><%= record.name %></td>
      <td><%= record.ttl %></td>
      <td>IN</td>
      <td><%= record.type %></td>
      <td><%= record.supports_prio? ? record.prio : '' %></td>
      <td><%= record.content %></td>
      <% if record.classless_delegation? %>
        <td/>
        <td/>
        <td><%= link_to_destroy [@domain, record], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% elsif can_edit?(record) %>
        <td>
          <% if record.disabled? %>
            <%= link_to_enable enable_domain_record_path(@domain, record), method: :put %>
          <% else %>
            <%= link_to_disable disable_domain_record_path(@domain, record), method: :put %>
          <% end %>
        </td>
        <td><%= link_to_edit edit_domain_record_path(@domain, record) %></td>
        <td><%= link_to_destroy [@domain, record], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td/>
        <td/>
        <td/>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
