<div class="row">
    <div class="col-sm-4 col-md-offset-4">

<h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= link_to WebDNS.settings[:saml_login_text], auth_saml_path, class: 'btn btn-info btn-block btn-lg' %>

  or else use a local account:
  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password, autocomplete: 'off' %>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
  <% end -%>

  <div class="actions">
    <%= f.submit 'Log in', class: 'btn btn-primary btn-lg' %>
    <%= render 'devise/shared/links' %>
  </div>
<% end %>

    </div>
</div>
