<table class="table table-striped table-bordered">
  <thead>
      <tr>
        <th>Name</th>
        <th>Domains</th>
        <th>Users</th>
        <th>Controls</th>
      </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= @domain_count[group.id] || 0 %></td>
        <td><%= @membership_count[group.id] || 0 %></td>
	<td>
		<%= link_to_edit edit_admin_group_path(group) %>
		<%= link_to_destroy admin_group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'New Group &raquo;'.html_safe, new_admin_group_path, class: 'btn btn-lg btn-primary' %>
</p>
